body{
    background-color: black;
    color: white;
    text-align: center;
}

#giv{
    position:absolute;
    top:35%;
    left:45%;
    width: 200px;
}

#datas{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: first baseline;
    text-align: center;
}

.data{
    width: 30%;
    margin-bottom: 30px;
}

